<div class="container">
  <div style="margin-top: 100px;">
    <script type="text/ng-template" id="alert.html">
<div class="alert" role="alert">
        <div ng-transclude></div>
      </div>
    </script>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="row">
      <div>
        Total number of registered Users: {{mainInfo.length}}
      </div>
      <div class="col-lg-12" id="searchBar">
        <div class="col-lg-6">
          <p>Keyword Search</p>
          <input type="text" ng-model="filter_name" class="col-lg-12">
        </div>
        <div class="col-lg-2">
          <p>Employee Status</p>
          <select ng-model="employeeSelection" ng-change="changeEmployer(employeeSelection)">
            <option value="all">Hustlebee and Employer</option>
            <option value="employeeFilter">Hustlebee's</option>
            <option value="employerFilter">Employers</option>
          </select>
        </div>
        <div class="col-lg-2">
          <p>Verification</p>
          <select ng-model="verifiedSelection" ng-change="changeVerified(verifiedSelection)">
            <option value="all">All Statuses</option>
            <option value="verified">Verified</option>
            <option value="nonverified">Not verified</option>
          </select>
        </div>
      <div class="col-lg-2">
        <input ng-model="date.start" ng-change="theFilter()" type="date">
        <input ng-model="date.end" ng-change="theFilter()" type="date">
      </div>
      </div>
      <div>
        <table class="col-md-12">
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Occupation</th>
            <th>Hustlebee?</th>
            <th>Zip</th>
            <th>Status</th>
            <th>Account Creation</th>
            <th>Date Picture Uploaded</th>
          </tr>
          <tr class="hover" ng-click="moreInfo(info)" ng-repeat="info in mainInfo.slice().reverse() | filter:filter_name">
            <td>{{info.firstName}} {{info.lastName}}</td>
            <td>{{info.companyName}}</td>
            <td>{{info.occupation}}</td>
            <td>{{info.employer === true ? 'Employer' : 'Hustlebee'}}</td>
            <td>{{info.zipcode}}</td>
            <td>{{info.status}}</td>
            <td>{{info.created_at | date: 'MMMM/dd/yyyy'}}</td>
            <td>{{info.date | date: 'MMMM / dd / yyyy'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
