<div class="jumbotron2" style="background: url(./static/images/medteam.jpg) no-repeat center center;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
	<div class="container">
		<div class="col-md-offset-3 col-md-6 well" style="margin-top: 200px; background-color: rgba(245, 245, 245, 0.8);">
			<div class="row">
				<div class="col-md-12 text-center">
					<p  class="fh5co-sub">Current available positions.</p>
				</div>
	    	</div>
		    <form name="signupForm" novalidate>	
		    	<div class="row">
					<div class="form-group">
						<div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8">
							<select class="form-control" name="jobPosition" ng-model="jobPosition" ng-options="position as position.label for position in jobPositions">
							</select>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a style='margin-top: 30px' class="btn btn-primary btn-md" ng-click="postingJob(jobPost)">Get Started</a>
				</div>
			</form>
		</div>
   </div>
</div>

<!-- <div class="container-fluid special";> -->
<!--   <div class="jumbotron" style="background: url(chillin.jpg) no-repeat center center;-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;" ></div> -->
<!-- </div> -->