<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HustleBee</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-show="loggedIn"><a ui-sref="dashboard.postShift">Post A Shift</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-show="loggedIn">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="dashboard.userHome">Shift Status</a></li>
            <li><a ui-sref="dashboard.settings">Settings</a></li>
          </ul>
        </li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="loggedIn">
          <a style='cursor: pointer;' ng-click="login()">Login</a>
        </li>
        <li ng-hide="loggedIn">
          <a style='cursor: pointer;' ng-click="register()">Register</a>
        </li>
        <li ng-show="loggedIn">
          <a style='cursor: pointer;' ng-click="logout()">Log out</a>
        </li>    
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ui-view></div>

<!-- <nav id="footer" class="navbar navbar-default">
    <div class="container">
        <div class="pull-right">
            <p>HustleBee © 2016. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</nav> -->