
 <div class="navbar navbar-default navbar-appearance navbar-fixed-top" role="navigation" style="background-color: transparent; border-color: transparent;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand" style="padding-top: 10px"><img src="./static/images/hustlebee_logo.png" alt="Hustlebee Logo"></a>
        </div>
        <div class="collapse navbar-collapse" style="border-color: transparent;">

          <ul class="nav navbar-nav navbar-right">
            <li style="cursor: pointer" ng-click="login()"><a><span class="navtextcolor" style="color: white" >Login</span></a></li>
            <li style="cursor: pointer"><a data-nav-section="features"><span class="navtextcolor" style="color: white">How it works</span></a></li>
            <li style="cursor: pointer"><a data-nav-section="design"><span class="navtextcolor" style="color: white">Pricing</span></a></li>
            <li style="cursor: pointer"><a data-nav-section="faq"><span class="navtextcolor" style="color: white">FAQ</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>

<div id="startchange"></div>
<div id="fh5co-page">
	<div id="fh5co-wrap">
		<header id="fh5co-hero" data-section="home" role="banner" style="background: url(./static/images/job_search.jpg) top left; background-size: cover;" >
			<div class="fh5co-overlay"></div>
			<div class="fh5co-intro">
				<div class="container">
					<div class="row">
						<div class="text-center col-md-12 col-sm-12 col-xs-12 fh5co-text">
							<h2 class="to-animate intro-animate-1">Find <span style="color: #ffdc00">shift coverage</span> for your business.</h2>
							<p class="to-animate intro-animate-2">Without the hefty agency fees.</p>
							<p class="to-animate intro-animate-3" style="text-align:center;">
								<a href="#" data-nav-section="features" class="btn btn-primary btn-md" style="margin-top: 40px;">Learn More</a>
							</p>									
						</div>
					</div>
				</div>						
			</div>
		</header>
		<!-- END .header -->

		<div id="fh5co-main">
			<div id="fh5co-clients">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12 col-sm-12 col-xs-12 to-animate">
							<h3 style="color: white"><em>Cut the agency and get straight to the employee.</em></h3>
						</div>
					</div>
				</div>
			</div>
			<div id="fh5co-features" data-section="features">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
							<h2 class="fh5co-lead to-animate">How it works</h2>
							<p class="fh5co-sub to-animate">HustleBee connects licensed healthcare professionals to local healthcare businesses in need of shift coverage. Get pre-vetted healthcare providers in 3 easy steps.</p>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-pencil-square-o"></i></span>
								<h3 class="fh5co-feature-lead">1. Post</h3>
								<p class="fh5co-feature-text">Post shifts on our web portal to reach a network of qualified healthcare workers.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-credit-card"></i></span>
								<h3 class="fh5co-feature-lead">2. Pay</h3>
								<p class="fh5co-feature-text">Pre-pay for your shifts to expedite payments to our workers. We accept all major credit cards. </p>
							</div>
						</div>
						<div class="clearfix visible-sm-block"></div>
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-bell-o"></i></span>
								<h3 class="fh5co-feature-lead">3. Track</h3>
								<p class="fh5co-feature-text">Manage your posted shifts 24/7 and get notifications when shifts are accepted.</p>
							</div>
						</div>

						<div class="clearfix visible-sm-block"></div>

						<div class="fh5co-spacer fh5co-spacer-sm"></div>

						<div class="col-md-4 col-md-offset-4 text-center to-animate">
							<a href="#/business/register" class="btn btn-primary">Get an account</a>
						</div>
		        	</div>
		       </div>
		    </div>

		    <div id="fh5co-features-2" data-section="design">
				<div class="fh5co-features-2-content">
					<div class="container">
  						<div class="row">
  							<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
								<h2 class="fh5co-lead to-animate">Pricing</h2>
								<p class="fh5co-sub to-animate">By utilizing technology to optimize our business, we can offer you the lowest rate in the industry.</p>
							</div>
  						</div>
					</div>

					<section class="container show-source">
						  <div class="row">
						    <div class="col-md-4 to-animate" >
						      <div class="panel">
						       <div class="panel-footer"><h4 class="text-center">Pharmacy Technician</h4></div>
						       <div class="panel-body text-center">
						         <p class="lead" style="font-size:50px"><strong>$30</strong> <span style="font-size: 15px">/ hour</span></p>
						       </div>
						       <ul class="list-group list-group-flush text-center">
						          <li class="list-group-item"><strong> +20% Hustlebee Service Fee**</strong></li>
						          <li class="list-group-item"><i class="icon-ok text-danger"></i> **50% if rushed request (three days or less notice)</li>
						          <li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
						       </ul>
						       <div class="panel-footer">
						         <a class="btn btn-lg btn-block btn-primary" href="#/business/login">Request one now!</a>
							    </div><!--/panel-footer-->
						      </div><!--/panel-->
						    </div><!--/col-->
						    <div class="col-md-4 to-animate">
						      <div class="panel">
						       <div class="panel-heading" style="background-color: #ffdc00"><h4 class="text-center">Outpatient Pharmacist</h4></div>
						       <div class="panel-body text-center">
						         <p class="lead" style="font-size:50px"><strong>$65</strong> <span style="font-size: 15px">/ hour</span></p>
						       </div>
						       <ul class="list-group list-group-flush text-center">
						          <li class="list-group-item"><strong>+20% Hustlebee Service Fee**</strong></li>
						          <li class="list-group-item"><i class="icon-ok text-danger"></i> **50% if rushed request (three days or less notice)</li>
						          <li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
						       </ul>
						       <div class="panel-footer" >
						         <a class="btn btn-lg btn-block btn-primary" href="#/business/login">Request one now!</a>
							    </div><!--/panel-footer-->
						      </div><!--/panel-->
						    </div><!--/col-->
						    <div class="col-md-4 to-animate">
						      <div class="panel">
						       <div class="panel-footer"><h4 class="text-center">Inpatient Pharmacist</h4></div>
						       <div class="panel-body text-center">
						         <p class="lead" style="font-size:50px"><strong>$70</strong> <span style="font-size: 15px">/ hour</span></p>
						       </div>
						       <ul class="list-group list-group-flush text-center">
						          <li class="list-group-item"><strong> +20% Hustlebee Service Fee**</strong></li>
						          <li class="list-group-item"><i class="icon-ok text-danger"></i> **50% if rushed request (three days or less notice)</li>
						          <li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
						       </ul>
						       <div class="panel-footer">
						         <a class="btn btn-lg btn-block btn-primary" href="#/business/login">Request one now!</a>
							    </div><!--/panel-footer-->
						      </div><!--/panel-->
						    </div><!--/col-->
						  </div><!--/row-->
					</section><!--/container-->    	
										    
				 
				</div>	
		    </div>


			<div id="fh5co-features-3" data-section="faq" style="background-color: #fafafa;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
							<h2 class="fh5co-lead animate-single features3-animate-1">Frequently Asked Questions</h2>
						</div>

						<div class="col-md-12 col-sm-12 fh5co-text-wrap">
							<div class="fh5co-text to-animate">
								<h4 class="fh5co-uppercase-sm">Can I pick the workers?</h4>
								<p>No. We pride ourselves on vetting the very best licensed professionals in the industry to work with us so you don't have to. If you are unsatisfied, we will be happy to offer you a full refund.</p>
							</div>
							<div class="fh5co-text to-animate">
								<h4 class="fh5co-uppercase-sm">Why do you ask for full payment up-front?</h4>
								<p>We want to ensure that our workers get paid immediately after their shifts.</p>
							</div>
							<div class="fh5co-text to-animate">
								<h4 class="fh5co-uppercase-sm">Can I cancel a scheduled shift?</h4>
								<p>Yes, you have full control of your posted shifts as long as they have not been accepted by our workers.  Cancelling shifts after they have been accepted will be subjected to a 50% shift penalty.</p>
							</div>
							<div class="fh5co-text to-animate">
								<h4 class="fh5co-uppercase-sm">How do you train your workers?</h4>
								<p>Our licensed professionals are expected to know how to perform their main duties. Employers should offer guidance at the beginning of each shift. </p>
							</div>
							<div class="fh5co-text to-animate">
								<h4 class="fh5co-uppercase-sm">Is your service available in my city?</h4>
								<p>Our services are currently only available to San Francisco Bay and Metro Los Angeles Areas. You can still register for an account and we will notify you as soon as we land in your city!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" style="">
		<div class="fh5co-overlay"></div>
		<div class="fh5co-footer-content">
			<div class="row text-center">
				<div class="col-md-offset-3 col-md-2">
					<p style="font-size: 12px; margin-bottom: 0px">LEARN MORE</p>
					<p style="margin-bottom: 0px"><a href="" data-nav-section="design" style="color: white; font-size: 14px; text-decoration: none;">How it works</a></p>
					<p style="margin-bottom: 0px"><a href="#/employee" style="color: white; font-size: 14px; text-decoration: none; cursor: pointer;">Employee</a></p>
				</div>
				<div class="col-md-2">
					<p style="font-size: 12px; margin-bottom: 0px">GET HELP</p>
					<p style="margin-bottom: 0px"><a href="" data-nav-section="features" style="color: white; font-size: 14px; text-decoration: none;">About</a></p>
				</div>
				<div class="col-md-2">
					<p style="font-size: 12px; margin-bottom: 0px">CONTACT US</p>
					<p style="margin-bottom: 0px"><a href="mailto:support@hustlebee.com?Subject=Help%20me"style="color: white; font-size: 14px; text-decoration: none;">Email</a></p>
				</div>
			</div>
			<div class="row text-center" style="margin-top: 20px">
				<p>&copy; HustleBee 2016. All Rights Reserved.</p>
			</div>
		</div>
	</footer>
</div>

<!-- Main JS -->
<script src="./static/js/main.js"></script>
<script type="text/javascript">
	$(document).ready(function(){       
   		var scroll_start = 0;
   		var startchange = $('#startchange');
   		var offset = startchange.offset();
    	if (startchange.length){
   			$(document).scroll(function() { 
      			scroll_start = $(this).scrollTop();
      			if(scroll_start > offset.top) {
          			$(".navbar-appearance").css('background-color', 'white');
          			$(".navbar-appearance").css('border-color', '#ffdc00');
          			$('.navtextcolor').css('color', 'black');
       			} else {
         			$('.navbar-appearance').css('background-color', 'transparent');
         			$(".navbar-appearance").css('border-color', 'transparent');
         			$('.navtextcolor').css('color', 'white');
      			}
   			});
    	}
	})
</script>




