 <div class="navbar navbar-default navbar-appearance navbar-fixed-top" role="navigation" style="background-color: transparent; border-color: transparent;">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</button>
          	<a href="#" class="navbar-brand" style="padding-top: 10px">
          		<img src="./static/images/hustlebee_logo.png" alt="Hustlebee Logo">
          	</a>
        </div>
        <div class="collapse navbar-collapse" style="border-color: transparent;">
          	<ul class="nav navbar-nav navbar-right">
            	<!-- <li style="cursor: pointer">
   					<a>
            			<span class="navtextcolor" style="color: white" ng-click="businessPage()">Employer</span>
            		</a>
            	</li> -->
            	<li style="cursor: pointer">
            		<a data-nav-section="features">
            			<span class="navtextcolor" style="color: white">What is HustleBee?</span>
            		</a>
            	</li>
            	<!-- <li style="cursor: pointer">
            		<a data-nav-section="design">
            			<span class="navtextcolor" style="color: white">How it works</span>
            		</a>
            	</li> -->
            	<li style="cursor: pointer">
            		<a href="https://itunes.apple.com/us/app/hustlebee/id1088740787?mt=8">
            			<span class="navtextcolor" style="color: white">Download App</span>
            		</a>
            	</li>
          	  	<li ng-click="register()" style="cursor: pointer">
          	  		<a>
          	  			<span class="navtextcolor" style="color: white">Get started</span>
          	  		</a>
          	  	</li>
            	<li ng-click="login()" style="cursor: pointer">
            		<a>
            			<span class="navtextcolor" style="color: white">Login</span>
            		</a>
            	</li>
          	</ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div id="startchange"></div>
<div id="fh5co-page">
	<div id="fh5co-wrap">
		<header id="fh5co-hero" data-section="home" role="banner" style="background: url(./static/images/bg_2.jpg) top left; background-size: cover;" >
			<div class="fh5co-overlay"></div>
			<div class="fh5co-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12 fh5co-text">
							<h2 class="to-animate intro-animate-1">Find <span style="color: #ffdc00">part-time</span> work in healthcare.</h2>
							<p class="to-animate intro-animate-2">Are you a licensed healthcare professional looking to earn extra cash on your spare time? Become a hustle bee to find part-time work near you.</p>
							<p class="to-animate intro-animate-4" style="text-align:center;">
								<a href="#" data-nav-section="features" class="btn btn-primary btn-md" style="margin-right:0px; margin-bottom: 0px">Learn More</a>
							</p>
																	
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 fh5co-intro-img to-animate intro-animate-4" style="text-align: center">
							<div>
								<img src="./static/images/iphone_6_spacegrey.png" alt="HustleBee iPhone app">	
							</div>
						</div>
					</div>
				</div>						
			</div>
		</header>
		<!-- END .header -->

		<div id="fh5co-main">
			<div id="fh5co-clients">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12 col-sm-12 col-xs-12 to-animate">
							<h3 style="color: white"><em>"If you do what you love, you'll never work a day in your life." - Marc Anthony</em></h3>
						</div>
					</div>
				</div>
			</div>
			<div id="fh5co-features" data-section="features">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
							<h2 class="fh5co-lead to-animate">What is HustleBee?</h2>
							<p class="fh5co-sub to-animate">HustleBee connects licensed healthcare professionals to local medical practices in need of shift coverage. No matter what healthcare license you have, we have jobs for you. </p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-medkit"></i></span>
								<h3 class="fh5co-feature-lead">Pharmacy</h3>
								<p class="fh5co-feature-text">Pharmacist | Technician</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-stethoscope"></i></span>
								<h3 class="fh5co-feature-lead">Medical</h3>
								<p class="fh5co-feature-text">Doctor | Nurse</p>
							</div>
						</div>
						<div class="clearfix visible-sm-block"></div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-user-md"></i></span>
								<h3 class="fh5co-feature-lead">Dental</h3>
								<p class="fh5co-feature-text">Dentist | Assistant</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-paw"></i></span>
								<h3 class="fh5co-feature-lead">Veterinary</h3>
								<p class="fh5co-feature-text">Veterinarian | Technician</p>
							</div>
						</div>

						<div class="clearfix visible-sm-block"></div>

						<div class="fh5co-spacer fh5co-spacer-sm"></div>

						<div class="col-md-4 col-md-offset-4 text-center to-animate">
							<span ng-click="register()" class="btn btn-primary">Become a HustleBee</span>
						</div>
		        	</div>
		       </div>
		    </div>

		    <div id="fh5co-features-2" data-section="design">
				<div class="fh5co-features-2-content">
				    <div class="container">
				    	<div class="row">
				    		<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
								<h2 class="fh5co-lead to-animate">How it works</h2>
								<p class="fh5co-sub to-animate">Set your own schedule and work whenever you feel like it. Simply accept shifts you want to work, show up for work and get paid.</p>
							</div>
				    		<div class="col-md-4 fh5co-text-wrap">
				    			<div class="row text-center">
					    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-3">
					    				<span class="fh5co-icon"><i class="icon-toggle"></i></span>
										<h4 class="fh5co-uppercase-sm">Hustle mode</h4>
										<p>Ready to hustle? Simply accept shifts whenever you want to work.</p>
									</div>
									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-4">
										<span class="fh5co-icon"><i class="icon-location2"></i></span>
										<h4 class="fh5co-uppercase-sm">Get jobs near you</h4>
										<p>Yup! We hate work commute as much as you do.</p>
									</div>
									
								</div>
				    		</div>
				    		<div class="col-md-4 col-md-push-4 fh5co-text-wrap">
				    			<div class="row text-center">
					    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-5">
					    				<span class="fh5co-icon"><i class="icon-speech-bubble"></i></span>
										<h4 class="fh5co-uppercase-sm">Chat with employers*</h4>
										<p>Get acquainted with the boss before you start.</p>
									</div>
									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-6">
										<span class="fh5co-icon"><i class="icon-credit-card"></i></span>
										<h4 class="fh5co-uppercase-sm">Payday</h4>
										<p>Direct deposit into your bank. Go ahead, book that dream vacation.</p>
									</div>
								</div>
				    		</div>
				    		<div class="col-md-4 col-md-pull-4 fh5co-image animate-object features-2-animate-2">
				    			<p class="text-center">
				    			<img src="./static/images/iphone_6_white.png" class="" alt="HustleBee iPhone app">
				    			<p class="text-center" style="font-size: 10px">*Features not yet available.</p>
				    			</p>
				    		</div>
				    	</div>
				    </div>
				</div>	
		    </div>


			<div id="fh5co-features-3" data-section="benefits" style="background-color: #fafafa;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
							<h2 class="fh5co-lead animate-single features3-animate-1">Benefits of HustleBee</h2>
							<p class="fh5co-sub animate-single features3-animate-2">Simplifying the way you work.</p>
						</div>

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-smile-o"></i></span>
								<h4 class="fh5co-uppercase-sm">Free</h4>
								<p>You work hard for your money, we'll make sure you spend it how you like. Hustlebee is 100% free!</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-shuffle2"></i></span>
								<h4 class="fh5co-uppercase-sm">No commitment</h4>
								<p>Your only commitments are your scheduled shifts. Between us, our relationship has zero commitment.</p>
							</div>
						</div>
						
						<div class="clearfix visible-sm-block"></div>

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-clock2"></i></span>
								<h4 class="fh5co-uppercase-sm">Flexible</h4>
								<p>To hustle or not to hustle? That is entirely up to you. We still love you and will always be here for you when you are ready.</p>
							</div>
						</div>	

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-tag2"></i></span>
								<h4 class="fh5co-uppercase-sm">Market Rate</h4>
								<p>We set our own rates for employers to ensure you get fair market value for your service. Think of us like your union representatives, we will fight for you.</p>
							</div>
						</div>

						<div class="clearfix visible-sm-block"></div>

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-briefcase"></i></span>
								<h4 class="fh5co-uppercase-sm">Gain experience</h4>
								<p>Get exposure to different lines of duties, network with potential employers, and strengthen your resume for that dream job!</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-users"></i></span>
								<h4 class="fh5co-uppercase-sm">Support</h4>
								<p>Be a part of the HustleBee family and we will make sure you achieve your highest career goals.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="fh5co-bg-section cta" id="fh5co-cta" data-section="signup" style="background-image: url(./static/images/medteam.jpg); background-attachment: fixed;">
				<div class="fh5co-overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="fh5co-hero-wrap">
								<div class="fh5co-hero-intro text-center">
									<div class="row">
										<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
											<button class="btn btn-primary" ng-click="register()">Register</button>
											
														

	<div class="row to-animate">
		<div class="col-md-12 col-sm-12">
			<p class="fh5co-social-icons">
				<h3 style="color: white">Share with your colleagues!</h3>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.hustlebee.com&title=HustleBee,%20on-demand%20jobs%20for%20health%20workers&summary=Are%20you%20a%20licensed%20healthcare%20professional%20looking%20to%20earn%20extra%20cash%20on%20your%20spare%20time?%20Become%20a%20hustle%20bee%20to%20find%20part-time%20work%20near%20you.&source="><i class="icon-linkedin" style="font-size: 200%"></i></a>
				<a href="http://twitter.com/share?text=HustleBee,%20on-demand%20work%20for%20healthcare%20professionals%20Link&url=http://www.hustlebee.com" style="margin: 0px 20px"><i class="icon-twitter" style="font-size: 200%"></i></a>
				<a href="http://www.facebook.com/sharer.php?u=http://www.hustlebee.com"><i class="icon-facebook" style="font-size: 200%"></i></a>
			</p>
		</div>
	</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>							
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" style="">
		<div class="fh5co-overlay"></div>
		<div class="fh5co-footer-content">
			<div class="row text-center">
				<div class="col-md-offset-3 col-md-2">
					<p style="font-size: 12px; margin-bottom: 0px">LEARN MORE</p>
					<p style="margin-bottom: 0px"><a href="" data-nav-section="design" style="color: white; font-size: 14px; text-decoration: none;">How it works</a></p>
					<p style="margin-bottom: 0px"><span ng-click="businessPage()" style="color: white; font-size: 14px; text-decoration: none; cursor: pointer;">Employers</span></p>
				</div>
				<div class="col-md-2">
					<p style="font-size: 12px; margin-bottom: 0px">GET HELP</p>
					<p style="margin-bottom: 0px"><a href="" data-nav-section="features" style="color: white; font-size: 14px; text-decoration: none;">About</a></p>
				</div>
				<div class="col-md-2">
					<p style="font-size: 12px; margin-bottom: 0px">CONTACT US</p>
					<p style="margin-bottom: 0px"><a href="mailto:support@hustlebee.com?Subject=Help%20me"style="color: white; font-size: 14px; text-decoration: none;">Email</a></p>
				</div>
			</div>
			<div class="row text-center" style="margin-top: 20px">
				<p>&copy; HustleBee 2016. All Rights Reserved.</p>
			</div>
		</div>
	</footer>
</div>

<!-- Main JS -->
<script src="./static/js/main.js"></script>
<script type="text/javascript">
	$(document).ready(function(){       
   		var scroll_start = 0;
   		var startchange = $('#startchange');
   		var offset = startchange.offset();
    	if (startchange.length){
   			$(document).scroll(function() { 
      			scroll_start = $(this).scrollTop();
      			if(scroll_start > offset.top) {
          			$(".navbar-appearance").css('background-color', 'white');
          			$(".navbar-appearance").css('border-color', '#ffdc00');
          			$('.navtextcolor').css('color', 'black');
       			} else {
         			$('.navbar-appearance').css('background-color', 'transparent');
         			$(".navbar-appearance").css('border-color', 'transparent');
         			$('.navtextcolor').css('color', 'white');
      			}
   			});
    	}
	})
</script>




