<div id="fh5co-offcanvass">
	<ul>
		<li class="active"><a href="#" data-nav-section="home">Home</a></li>
		<li><a href="#" data-nav-section="features">What is HustleBee?</a></li>
		<li><a href="#" data-nav-section="design">How it works</a></li>
		<li><a href="#" data-nav-section="benefits">Benefits</a></li>
		<li><a href="#" data-nav-section="signup">Get started</a></li>
		<li><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1088740787&mt=8">Download the app!</a></li>
	</ul>
	<h3 class="fh5co-lead">Share</h3>
	<p class="fh5co-social-icons">
		<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.hustlebee.com&title=HustleBee,%20on-demand%20jobs%20for%20health%20workers&summary=Are%20you%20a%20licensed%20healthcare%20professional%20looking%20to%20earn%20extra%20cash%20on%20your%20spare%20time?%20Become%20a%20hustle%20bee%20to%20find%20part-time%20work%20near%20you.&source="><i class="icon-linkedin"></i></a>
		<a href="http://twitter.com/share?text=HustleBee,%20on-demand%20work%20for%20healthcare%20professionals%20Link&url=http://www.hustlebee.com"><i class="icon-twitter"></i></a>
		<a href="http://www.facebook.com/sharer.php?u=http://www.hustlebee.com"><i class="icon-facebook"></i></a>
	</p>
</div>

<div id="fh5co-menu" class="navbar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><span>Menu</span> <i></i></span>
				<!-- <a class="navbar-brand"><span>Hustle<span style="color: #ffdc00">Bee</span></span></a> -->
				<a href="#" class="navbar-brand" style="padding-top: 20px; padding-left: 0px"><img src="./static/images/hustlebee_logo.png" alt="Hustlebee Logo"></a>

			</div>
		</div>
	</div>
</div>

<div id="fh5co-page">
	<div id="fh5co-wrap">
		<header id="fh5co-hero" data-section="home" role="banner" style="background: url(./static/images/bg_2.jpg) top left; background-size: cover;" >
			<div class="fh5co-overlay"></div>
			<div class="fh5co-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12 fh5co-text">
							<h2 class="to-animate intro-animate-1">Find <span style="color: #ffdc00">on-demand</span> work in healthcare.</h2>
							<p class="to-animate intro-animate-2">Are you a licensed healthcare professional looking to earn extra cash on your spare time? Become a hustle bee to find part-time work near you.</p>
							<p class="to-animate intro-animate-3" style="text-align: center;">	
								<a href="#" data-nav-section="features" style="font-family: 'Montserrat', arial, sans-serif; text-transform: uppercase; letter-spacing: 4xp; font-size: 11px; font-weight: 400; ">Learn More!</a>
							</p>
							<p class="to-animate intro-animate-4" style="text-align:center;">
								<span ng-click="businessPage()" class="btn btn-primary btn-md" style="margin-right:0px; margin-bottom: 0px">Employer Login</span>
							</p>
																	
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 fh5co-intro-img to-animate intro-animate-4" style="text-align: center">
							<div>
								<img src="./static/images/iphone_6_spacegrey.png" alt="HustleBee iPhone app">	
							</div>
						</div>
					</div>
				</div>						
			</div>
		</header>
		<!-- END .header -->

		<div id="fh5co-main">
			<div id="fh5co-clients">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12 col-sm-12 col-xs-12 to-animate">
							<h3 style="color: white"><em>"If you do what you love, you'll never work a day in your life." - Marc Anthony</em></h3>
						</div>
					</div>
				</div>
			</div>
			<div id="fh5co-features" data-section="features">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
							<h2 class="fh5co-lead to-animate">What is HustleBee?</h2>
							<p class="fh5co-sub to-animate">HustleBee connects licensed healthcare professionals to local medical practices in need of shift coverage. No matter what healthcare license you have, we have jobs for you. </p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-medkit"></i></span>
								<h3 class="fh5co-feature-lead">Pharmacy</h3>
								<p class="fh5co-feature-text">Pharmacist | Technician</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-stethoscope"></i></span>
								<h3 class="fh5co-feature-lead">Medical</h3>
								<p class="fh5co-feature-text">Doctor | Nurse</p>
							</div>
						</div>
						<div class="clearfix visible-sm-block"></div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-user-md"></i></span>
								<h3 class="fh5co-feature-lead">Dental</h3>
								<p class="fh5co-feature-text">Dentist | Assistant</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<div class="fh5co-feature to-animate">
								<span class="fh5co-feature-icon"><i class="icon-paw"></i></span>
								<h3 class="fh5co-feature-lead">Veterinary</h3>
								<p class="fh5co-feature-text">Veterinarian | Technician</p>
							</div>
						</div>

						<div class="clearfix visible-sm-block"></div>

						<div class="fh5co-spacer fh5co-spacer-sm"></div>

						<div class="col-md-4 col-md-offset-4 text-center to-animate">
							<a data-nav-section="signup" class="btn btn-primary">Become a HustleBee</a>
						</div>
		        	</div>
		       </div>
		    </div>

		    <div id="fh5co-features-2" data-section="design">
				<div class="fh5co-features-2-content">
				    <div class="container">
				    	<div class="row">
				    		<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
								<h2 class="fh5co-lead to-animate">How it works</h2>
								<p class="fh5co-sub to-animate">Set your own schedule and work whenever you feel like it. Simply switch your status to available and watch the shifts roll in. If you choose to accept shifts, just show up for work and get paid.</p>
							</div>
				    		<div class="col-md-4 fh5co-text-wrap">
				    			<div class="row text-center">
					    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-3">
					    				<span class="fh5co-icon"><i class="icon-toggle"></i></span>
										<h4 class="fh5co-uppercase-sm">Hustle mode</h4>
										<p>Ready to hustle? Simply accept shifts whenever you want to work.</p>
									</div>
									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-4">
										<span class="fh5co-icon"><i class="icon-location2"></i></span>
										<h4 class="fh5co-uppercase-sm">Get jobs near you</h4>
										<p>Yup! We hate work commute as much as you do.</p>
									</div>
									
								</div>
				    		</div>
				    		<div class="col-md-4 col-md-push-4 fh5co-text-wrap">
				    			<div class="row text-center">
					    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-5">
					    				<span class="fh5co-icon"><i class="icon-speech-bubble"></i></span>
										<h4 class="fh5co-uppercase-sm">Chat with employers*</h4>
										<p>Get acquainted with the boss before you start.</p>
									</div>
									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-6">
										<span class="fh5co-icon"><i class="icon-credit-card"></i></span>
										<h4 class="fh5co-uppercase-sm">Payday*</h4>
										<p>Direct deposit into your bank. Go ahead, book that dream vacation.</p>
									</div>
									
								</div>
				    		</div>
				    		<div class="col-md-4 col-md-pull-4 fh5co-image animate-object features-2-animate-2">
				    			<p class="text-center">
				    			<img src="./static/images/iphone_6_white.png" class="" alt="HustleBee iPhone app">
				    			</p>
				    		</div>
				    	</div>
				    </div>
				</div>	
		    </div>


			<div id="fh5co-features-3" data-section="benefits" style="background-color: #fafafa;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
							<h2 class="fh5co-lead animate-single features3-animate-1">Benefits of HustleBee</h2>
							<p class="fh5co-sub animate-single features3-animate-2">Simplifying the way you work.</p>
						</div>

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-smile-o"></i></span>
								<h4 class="fh5co-uppercase-sm">Free</h4>
								<p>You work hard for your money, we'll make sure you spend it how you like. Hustlebee is 100% free!</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-shuffle2"></i></span>
								<h4 class="fh5co-uppercase-sm">No commitment</h4>
								<p>Your only commitments are your scheduled shifts. Between us, our relationship has zero commitment.</p>
							</div>
						</div>
						
						<div class="clearfix visible-sm-block"></div>

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-clock2"></i></span>
								<h4 class="fh5co-uppercase-sm">Flexible</h4>
								<p>To hustle or not to hustle? That is entirely up to you. We still love you and will always be here for you when you are ready.</p>
							</div>
						</div>	

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-tag2"></i></span>
								<h4 class="fh5co-uppercase-sm">Market Rate</h4>
								<p>We set our own rates for employers to ensure you get fair market value for your service. Think of us like your union representatives, we will fight for you.</p>
							</div>
						</div>

						<div class="clearfix visible-sm-block"></div>

						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-briefcase"></i></span>
								<h4 class="fh5co-uppercase-sm">Gain experience</h4>
								<p>Get exposure to different lines of duties, network with potential employers, and strengthen your resume for that dream job!</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center fh5co-text-wrap">
							<div class="fh5co-text to-animate">
			    				<span class="fh5co-icon"><i class="icon-users"></i></span>
								<h4 class="fh5co-uppercase-sm">Support</h4>
								<p>Be a part of the HustleBee family and we will make sure you achieve your highest career goals.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="fh5co-bg-section cta" id="fh5co-cta" data-section="signup" style="background-image: url(./static/images/medteam.jpg); background-attachment: fixed;">
				<div class="fh5co-overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="fh5co-hero-wrap">
								<div class="fh5co-hero-intro text-center">
									<div class="row">
										<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
											<h2 class="fh5co-lead to-animate"><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1088740787&mt=8"><img src="./static/images/available_on_app_store_blue.png" alt="Apple App Store"></a></h2>
											<p class="fh5co-sub to-animate"><span style="color:white">Android support coming soon!</span></p>  
											<p class="fh5co-sub to-animate"><span style="color:white">Join our mailing list to be the first to know when we launch on Android. Don't worry, we are too <span style="color: #ffdc00"><em>bee-sy</em></span> to spam you.</span></p>
											<form name="signupForm" class="to-animate" novalidate>
												<div class="row">
													<div class="col-md-4 col-sm-4">
														<div class="form-group">
															<input type="text" style="color: #ffdc00;" class="form-control" name="name" ng-model="signup.name" placeholder="Full Name" required ng-pattern="/^(\D)+$/">
															<div ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched">
										    					<div ng-messages-include="../static/partials/messages.html"></div>
															</div>
														</div>
														
													</div>
													<div class="col-md-4 col-sm-4">
														<div class="form-group">
															<input type="text" style="color: #ffdc00;" class="form-control" name="profession" ng-model="signup.profession" placeholder="Profession" required ng-pattern="/^(\D)+$/">
															<div ng-messages="signupForm.profession.$error" ng-if="signupForm.profession.$touched">
										    					<div ng-messages-include="../static/partials/messages.html"></div>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4">
														<div class="form-group">
															<input type="email" style="color: #ffdc00;" class="form-control" name="email" ng-model="signup.email" placeholder="Email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
															<div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
											    				<div ng-message="required"><p style="color: red">This field is required</p></div>
											                    <div ng-message="pattern"><p style="color: red">Invalid Email</p></div>
															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4">
														<div class="form-group">
															<input class="btn btn-primary" type="submit" ng-click="emailSignUp(signupForm)" value="Join">
														</div>
													</div>
												</div>
											</form>
											<div class="row">
												<div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8">
													<span ng-bind="success" style="color: white; font-size: 100%;"></span>
													<span ng-bind="error" style="color: red;"></span>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 col-sm-12">
													<p class="fh5co-social-icons">
														<h3 style="color: white">Share with your colleagues!</h3>
														<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.hustlebee.com&title=HustleBee,%20on-demand%20jobs%20for%20health%20workers&summary=Are%20you%20a%20licensed%20healthcare%20professional%20looking%20to%20earn%20extra%20cash%20on%20your%20spare%20time?%20Become%20a%20hustle%20bee%20to%20find%20part-time%20work%20near%20you.&source="><i class="icon-linkedin" style="font-size: 200%"></i></a>
														<a href="http://twitter.com/share?text=HustleBee,%20on-demand%20work%20for%20healthcare%20professionals%20Link&url=http://www.hustlebee.com" style="margin: 0px 20px"><i class="icon-twitter" style="font-size: 200%"></i></a>
														<a href="http://www.facebook.com/sharer.php?u=http://www.hustlebee.com"><i class="icon-facebook" style="font-size: 200%"></i></a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>							
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" style="">
		<div class="fh5co-overlay"></div>
		<div class="fh5co-footer-content">
			<div class="row text-center">
				<div class="col-md-12 col-sm-12">
					<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.hustlebee.com&title=HustleBee,%20on-demand%20jobs%20for%20health%20workers&summary=Are%20you%20a%20licensed%20healthcare%20professional%20looking%20to%20earn%20extra%20cash%20on%20your%20spare%20time?%20Become%20a%20hustle%20bee%20to%20find%20part-time%20work%20near%20you.&source="><i class="icon-linkedin" style="font-size: 200%"></i></a>
					<a href="http://twitter.com/share?text=HustleBee,%20on-demand%20work%20for%20healthcare%20professionals%20Link&url=http://www.hustlebee.com" style="margin: 0px 20px"><i class="icon-twitter" style="font-size: 200%"></i></a>
					<a href="http://www.facebook.com/sharer.php?u=http://www.hustlebee.com"><i class="icon-facebook" style="font-size: 200%"></i></a>
						
					<h3 style="color: #878c93">Help us spread the word!</h3>
					<p class="fh5co-copyright"><small>&copy; HustleBee 2016. All Rights Reserved.</small></p>
				</div>
			</div>
		</div>
	</footer>
</div>

<!-- Main JS -->
<script src="./static/js/main.js"></script>




