<div class="modal-header">
  <button type="button" ng-click="close()" class="close">&times;</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h4>Basic Information</h4>
      <form>
      <input placeholder="{{info.email}}" ng-model="userInfo.email">
      <p>Email</p>
      <input placeholder="{{info.phoneNumber}}" ng-model="userInfo.phoneNumber">
      <p>Phone Number</p>
      <input placeholder="{{info.firstName}}" ng-model="userInfo.firstName">
      <p>First Name</p>
      <input placeholder="{{info.lastName}}" ng-model="userInfo.lastName">
      <p>Last Name</p>
      <input placeholder="{{info.username}}" ng-model="userInfo.username">
      <p>Username</p>
      <input placeholder="{{info.zipcode}}" ng-model="userInfo.zipcode">
      <p>Zipcode</p>
      <input placeholder="{{info.licenseNumber}}" ng-model="userInfo.licenseNumber">
      <p>License Number</p>
      <input placeholder="{{info.stateOfLicense}}" ng-model="userInfo.stateOfLicense">
      <p>License Location</p>
      <input placeholder="{{info.licenseExpirationDate}}" ng-model="userInfo.licenseExperationDate">
      <p>Expiration Date</p>
      <input placeholder="{{info.status}}" ng-model="userInfo.status">
      <p>Status</p>
      </form>
      <button ng-click="update(userInfo)">Submit</button>
    </div>
  </div>
</div>

