<div class="modal-header">
	<button type="button" ng-click="close()" class="close">&times;</button>
    <h3 class="modal-title">Post a job!</h3>
</div>
<div class="modal-body">
	<form name="jobPostingForm">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="name" ng-model="postingJob.name" placeholder="Company Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<select type="text" class="form-control" ng-model="postingJob.jobPosition" ng-options="position for position in jobPosition">
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea class="form-control" name="description" ng-model="postingJob.jobDescription" placeholder="Short Job Description"></textarea>
						<p ng-bind="error" style="color:red"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="postJob(postingJob)">Post</button>
</div>