<link href="./static/css/custom.css" rel="stylesheet" />
<link href="./static/css/bootstrap.css" rel="stylesheet" />

<header id="fh5co-hero" role="banner" style="background: url(./static/images/bg_2.jpg) top left; background-size: cover;" >

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>  New User? Register Yourself </strong>  
                    </div>
                    <div class="panel-body">
                        <br/>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="form-control" ng-model="registration.fullName" placeholder="Full Name">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="icon-tag"></i></span>
                            <input type="text" class="form-control" ng-model="registration.username" placeholder="Username">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="icon-mail2"></i></span>
                            <input type="text" class="form-control" ng-model="registration.email"placeholder="Email"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" class="form-control" ng-model="registration.password" placeholder="Password"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" class="form-control" ng-model="registration.confirmPassword" placeholder="Retype Password"/>
                        </div>

                        <btn ng-click="register()"class="btn btn-primary ">Register Me</btn>
                        <hr />
                        Already Registered?  <a href="login.html" >Login here</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>