<div class="jumbotron2" style="background: url(./static/images/nurse_call.jpg) no-repeat center center; -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">

<div class="container">
	<div class="row" style="margin-top: 20px; margin-bottom: 200px">
		<div class="col-md-12">
			<img src="./static/images/hustlebee_logo.png" alt="Hustlebee Logo">
		</div>
    </div>
    <div class="row text-center">
    	<div class="text-center col-md-12 col-sm-12 col-xs-12 fh5co-text">
			<h2 style="color:white">Connecting <span style="color: #ffdc00">healthcare workers</span> to local <span style="color: #ffdc00">employers.</span></h2>
		</div>
    	<!-- <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    		<p style="color: white; font-size: 30px; font-style: italic">Connecting licensed healthcare professionals to local employers.</p>
    	</div> -->
    </div>
	<div class="row" style="margin-top: 30px">
		<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-4 text-center">
			<a href="/#/business" class="btn btn-default" style="opacity: 0.8">Employer</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 text-center">
			<a href="/#/employee" class="btn btn-default" style="opacity: 0.8">Employee</a>
		</div>
	</div>


</div>