<div style="height: 80px"></div>

<div class="container">
	<div class="row">
		<div class="text-center">
			<h2 class="fh5co-lead">Post a shift</h2>
			<p class="fh5co-sub">Simplifying the way you hire.</p>
		</div>
	</div>
	<form name="jobPostingForm" novalidate>
		<div class="row" style="margin-bottom: 10px">
			<div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6">
				<div class="alert alert-info alert-dismissable" ng-show="alertMessage">
					<a class="panel-close close" data-dismiss="alert">×</a> 
					<i class="fa fa-coffee"></i>
					{{alertDetailMessage}}
				</div>
				<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
				<div>
					<label for="jobPosition">Position</label>
					<select class="form-control" name="jobPosition" ng-model="jobPosition" ng-options="position as position.label for position in jobPositions" required>
					</select>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 10px">
		    <div class='col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6'>
		        <div>
		        	<label>Shift Date</label>
		        	<div class="row">
		        		<div class="col-md-4 col-sm-4 col-xs-4">
		        			<select class="form-control" name="month" ng-model="month" ng-options="month as month.label for month in shiftMonth">
		        				<option value=''>MM</option>
		        			</select>
		        		</div>
		        		<div class="col-md-4 col-sm-4 col-xs-4">
		        			<select class="form-control" name="date" ng-model="date" ng-options="date as date.label for date in shiftDate">
		        				<option value=''>DD</option>
		        			</select>
		        		</div>
		        		<div class="col-md-4 col-sm-4 col-xs-4">
		        			<select class="form-control" name="year" ng-model="year" ng-options="year as year.label for year in shiftYear">
		        				<option value=''>YYYY</option>
		        			</select>
		        		</div>
		        	</div>

		            <!-- <input type="text" name="shiftDate" class="form-control" placeholder="MM/DD/YYYY" ng-model="shiftDate" required ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/"> -->
		        </div>
		    </div>
		</div>
		<div class="row" style="margin-bottom: 10px">
		    <div class='col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6'>
		        <div>
		        	<label for="address">Location</label>
		            <select class="form-control" name="address" ng-model="address" ng-options="address as address.label for address in addresses"></select>
		        </div>
		    </div>
		</div>
		<div class="row" style="margin-bottom: 10px">
		    <div class='col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6'>
		    	<label>Start Time (HH:MM - 24H)</label>
		    	<div class="row">
		    		<div class="col-md-6 col-sm-6 col-xs-6">
				        <div>
				            <select class="form-control" name="startTimeHour" ng-model="startTimeHour" ng-options="hour as hour.label for hour in startTimeHours">
				            	<option value=''>Hour</option>
				            </select>
			    		</div>
			    	</div>
			    	<div class="col-md-6 col-sm-6 col-xs-6">
				        <div>
				            <select class="form-control" name="startTimeMin" ng-model="startTimeMin" ng-options="minute as minute.label for minute in startTimeMins">
				            	<option value=''>Min</option>
				            </select>
			    		</div>
			    	</div>
	    		</div>
		    </div>
		</div>
		<div class="row" style="margin-bottom: 30px">
		    <div class='col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6'>
		    	<label>Shift Duration (HH:MM)</label>
		    	<div class="row">
		    		<div class="col-md-6 col-sm-6 col-xs-6">
				        <div>
				            <select class="form-control" name="shiftHour" ng-model="shiftHour" ng-options="hour as hour.label for hour in shiftHours">
				            </select>
			    		</div>
			    	</div>
			    	<div class="col-md-6 col-sm-6 col-xs-6">
				        <div>
				            <select class="form-control" name="shiftMin" ng-model="shiftMin" ng-options="minute as minute.label for minute in shiftMins">
				            </select>
			    		</div>
			    	</div>
	    		</div>
		    </div>
		</div>

		<div class="row text-center">
			<button class="btn btn-primary btn-md" ng-disabled="unverified" ng-click="post(month, date, year, startTimeHour, startTimeMin, shiftHour, shiftMin, jobPosition, address)">Post</button>
		</div>
	</form>
</div>
<div style="height: 100px"></div>

