<div class="jumbotron2" style="background: url(/images/medteam.jpg) no-repeat center center;-webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;">
  <div class="container">
    <div class="row" style="margin-top: 40px; margin-bottom: 20px">
      <div class="col-md-12 text-center">
        <a href="/"><img src="/images/hustlebee_logo.png" alt="Hustlebee Logo"></a>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-8 well" style="background-color: rgba(245, 245, 245, 0.9);">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="fh5co-sub">Credit Card Information (Optional)</h3>
        </div>
      </div>
      <form name="jobPostingForm">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
          Add credit card to account!
          <input type="checkbox" ng-checked="all" ng-model="credit.check">
            </div>
          <div class="col-md-12"> 
              <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <div class="col-md-6">
              <div class='form-group' ng-class="{'has-error' : jobPostingForm.creditNumber.$invalid}">
                <input ng-show="credit.check === true" type="text" class="form-control" name="creditNumber" ng-model="creditCard.number" placeholder="Credit Card Number" required size="20" data-stripe="number">
              </div>
            </div>	
            <div class="col-md-6">
              <div class='form-group' ng-class="{'has-error' : jobPostingForm.zipcode.$invalid}">
              <input  ng-show="credit.check === true" type="text" class="form-control" name="zipcode" ng-model="creditCard.zip" placeholder="Zipcode" required size="5" data-stripe="zip">
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="col-md-6">
              <div class='form-group' ng-class="{'has-error' : jobPostingForm.exp_month.$invalid}">
                <select ng-show="credit.check === true" class="form-control" name="exp_month" ng-model="creditCard.exp_month" data-stripe="exp_month">
                  <option value="00" disabled selected>Select expiration month</option>
                  <option value='01'>1</option>
                  <option value='02'>2</option>
                  <option value='03'>3</option>
                  <option value='04'>4</option>
                  <option value='05'>5</option>
                  <option value='06'>6</option>
                  <option value='07'>7</option>
                  <option value='08'>8</option>
                  <option value='09'>9</option>
                  <option value='10'>10</option>
                  <option value='11'>11</option>
                  <option value='12'>12</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class='form-group' ng-class="{'has-error' : jobPostingForm.exp_year.$invalid}">
                <select ng-show="credit.check === true" class="form-control" name="exp_year" ng-model="creditCard.exp_year" data-stripe="exp_year">
                  <option value="00" disabled selected>Select expiration month</option>
                  <option value='16'>2016</option>
                  <option value='17'>2017</option>
                  <option value='18'>2018</option>
                  <option value='19'>2019</option>
                  <option value='20'>2020</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button ng-if="credit.check === true" type="button" class="btn btn-default" ng-click="registerBusiness(creditCard)">Register with card</button>
            <button ng-if="credit.check === false" type="button" class="btn btn-default" ng-click="registerBusiness(creditCard)">Register without card</button>
          </div>
        </div>
      </form>
    </div>	
  </div>
</div>
