<div class="modal-header">
  <button type="button" ng-click="close()" class="close">&times;</button>
  <h3 class="modal-title">Add Credit Card</h3>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-md-12">
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <div ng-show="success" class="alert alert-success">{{successMessage}}</div>
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="creditCard.number" placeholder="Credit Card Number">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <input type="text" class="form-control" ng-model="creditCard.zip" placeholder="Zipcode">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <select class="form-control" ng-model="creditCard.exp_month" data-stripe="exp_month">
                <option value="00" disabled selected>Select expiration month</option>
                <option value='01'>1</option>
                <option value='02'>2</option>
                <option value='03'>3</option>
                <option value='04'>4</option>
                <option value='05'>5</option>
                <option value='06'>6</option>
                <option value='07'>7</option>
                <option value='08'>8</option>
                <option value='09'>9</option>
                <option value='10'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
              </select>
              <input type="text" class="form-control" ng-model="creditCard.exp_month" placeholder="Month example: 08">
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <select class="form-control" name="exp_year" ng-model="creditCard.exp_year">
              <option value="00" disabled selected>Select expiration month</option>
              <option value='16'>2016</option>
              <option value='17'>2017</option>
              <option value='18'>2018</option>
              <option value='19'>2019</option>
              <option value='20'>2020</option>
            </select>
            <input type="text" placeholder="Year example: 17" class="form-control" name="state" ng-model="creditCard.exp_year" >
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">	
  <button type="button" class="btn btn-default" ng-click="addCreditCard(creditCard)">Add</button>
</div>
